---

import Card from '../components/Card.astro';
import Confetti from '@/components/confetti';
import MainLayout from "@/layouts/main-layout.astro";
import { siteConfig } from "@/config/site";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
import { ArrowUpRight } from "lucide-react"

---

<MainLayout
  title="NSS RBU"
  description="Official Website of NSS RBU">
  <section class="space-y-6 pt-10 lg:py-10 min-h-screen">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-12 text-center">
      <Confetti client:idle>
        <a
          href="link-here"
          class={cn(buttonVariants({ variant: "outline", size: "sm" }))}
          target="_blank">
          Upcoming Events <ArrowUpRight />
        </a>
      </Confetti>

      <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance">
        NSS
        <span class="text-gradient_blaze-orange">RBU</span>
      </h1>

      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance">
        Community of students passionate about the social service.
      </p>
    </div>
  </section>

  <!-- what we do section  -->
  <section
  id="what-we-do"
  class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-2 lg:py-2">
  <div
    class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center">
    <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
      What We Do
    </h2>
    <p
      class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text">
      We actively host events, workshops, and hackathons for social impact.
    </p>
  </div>
  <div
    class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3">
    <div class="relative overflow-hidden rounded-lg border bg-background p-2">
      <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
        <div class="space-y-2">
          <h3 class="font-bold">Prerna</h3>
          <p class="text-sm text-muted-foreground">
            RBU's largest fun annual event spanning over a weekend.
          </p>
        </div>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-lg border bg-background p-2">
      <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
        <div class="space-y-2">
          <h3 class="font-bold">Sahyog</h3>
          <p class="text-sm text-muted-foreground">
            Sahyog description here
          </p>
        </div>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-lg border bg-background p-2">
      <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
        <div class="space-y-2">
          <h3 class="font-bold">Happython</h3>
          <p class="text-sm text-muted-foreground">
            Happython description here
          </p>
        </div>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-lg border bg-background p-2">
      <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
        <div class="space-y-2">
          <h3 class="font-bold">Contribute to community</h3>
          <p class="text-sm text-muted-foreground mt-3">
            We contribute to community by our socical welfare works
          </p>
        </div>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-lg border bg-background p-2">
      <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
        <div class="space-y-2">
          <h3 class="font-bold">Blood Donation camps</h3>
          <p class="text-sm text-muted-foreground">
            We host blood donation camps to help people in need.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto text-center md:max-w-[58rem]">
    <p
      class="leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text">
      At our core, we are a community of students passionate about helping society.
    </p>
  </div>
</section>
</MainLayout> 

